body {
  font-family: Arial, Helvetica, sans-serif;
  background-image:url("images/background/background1.jpg");
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-pills .nav-link.active
{
  background-color:#f8f9fa;
  border:solid;
  border-width:1px;
  border-radius: 5px;

}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 5px;
}

.dropdown-toggle::after {
  display: inline-block;
  vertical-align: .255em;
  margin-left:0px;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

.dropdown-item
{
  white-space:normal;
}

.drop-no-wrap
{
  white-space:nowrap;
}

.dropdown-item.active
{
  padding:.25rem .5rem;
}

.dropdown-item.active, .dropdown-item:active
{
  background-color: #f8f9fa;
  color:black;
  border:solid;
  border-radius: 5px;
  border-width:1px;
  
}

.navbar-nav .dropdown-menu
{
  position:static;
  padding-right: 5px;
  padding-left: 5px;
  margin-bottom:10px;
}

.navbar-brand
{
  padding-top: 0;
  padding-bottom: 0;
}

.navbar
{
  padding-top: .25rem;
  padding-bottom: .25rem;
}

.responsive
{
  width:100%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:10px;
  margin-bottom:10px;
}

/*
@media (max-width: 768px) {
  .responsive
  {
    max-width:100%;
  }
}
*/

.container
{
  margin-bottom:15px;
  padding:15px;
  border: black;
  background-color: white;
  border-radius:5px;
}

.container-first
{
  margin-top:50px;
}

/*For container width when screen size reaches below 576px*/
@media screen and (max-width: 576px)
{
  .container
  {
    max-width:90%;
    margin-right:auto;
    margin-left:auto;
  }
}

.name
{
  font-size:32px;
}

h2
{
  text-align:center;
}

.title
{
  font-size:22px;
}

@media (min-width: 768px) {
  
  .name
  {
    font-size:50px;
  }
  .title
  {
    font-size:35px;
  }

  .no-pad-right
  {
    padding-right:0px;
  }
  .no-pad-left
  {
    padding-left:0px;
  }

  
}

.image-border
{
  border:solid;
  border-width:1px;
}


/* Slideshow container */
.slideshow-container-respon {
  
  position: relative;
  margin: auto;
  border:solid;
  border-width:1px;
  width:100%;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:10px;
  margin-bottom:10px;
}

/* Hide the images by default 
.mySlides {
  display: none;
}
*/
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -75px;
  padding: 50px 16px 50px 16px;
  color: black;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: grey;
  color: white;
}

/* Caption text 
.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}*/

/* Number text (1/3 etc) 
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}*/

/* The dots/bullets/indicators */
.dot, .dot2, .dot3{
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: black;
}
/*
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
*/

.videoWrapper {
  position: relative;
  /*
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  /* falls back to 16/9, but otherwise uses ratio from HTML */
  padding-bottom: calc(var(--aspect-ratio, .5625) * 100%);
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#completerSlideshow1
{
  width:25%;
}

#mundoSlideshow1
{
  width:50%;
}

#mundoSlideshow2
{
  width:45%;
}

#remedySlideshow1
{
  width:30%;
}

#remedySlideshow2
{
  width:30%;
}

#venmoSlideshow1
{
  width:40%;
}

#venmoSlideshow2
{
  width:30%;
}

#venmoSlideshow3
{
  width:30%;
}

#woodenSlideshow1
{
  width:45%;
}

/*  Slideshow resize  */
@media (max-width: 768px) {
  #completerSlideshow1
  {
    width:80%;
  }
  
  #mundoSlideshow1
  {
    width:80%;
  }

  #mundoSlideshow2
  {
    width:80%;
  }

  #remedySlideshow1
  {
    width:80%;
  }

  #remedySlideshow2
  {
    width:80%;
  }

  #venmoSlideshow1
  {
    width:80%;
  }

  #venmoSlideshow2
  {
    width:80%;
  }
  
  #venmoSlideshow3
  {
    width:80%;
  }

  #woodenSlideshow1
  {
    width:80%;
  }
}